NEXT_PUBLIC_SITE_URL=http://localhost:3000
OPENAI_API_KEY=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